<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="I`m looking for..." id="txtSearch" />
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="dropdown col-md-4">
    <button class="btn btn-primary dropdown-toggle col-md-6" type="button" data-toggle="dropdown">Select Category...
      <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li>Smart phone</li>
      <li>Notebook</li>
      <li>Example</li>
    </ul>
  </div>
</div>
