<div class="card" style="width: 30rem;">
  <img class="card-img-top product-image" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>
    <h4 class="card-title">{{ product.price | currency:"USD":"symbol":"2.2-2" }} </h4>
    <p class="card-text">{{ product.description }}</p>
  </div>

  <div class="card-body">
    <button type="button" class="btn btn-outline-primary" (click)='onAddToBucket()'>ADD TO BUCKET</button>
    <button type="button" class="btn btn-outline-primary">SEE DETAILS</button>
  </div>
</div>
