<div class="container-fluid bg-light">
  <div class="row text-white">
    <div class="col-2 p-2">
      <div *ngFor="let category of categories">
        <button type="button" class="btn btn-outline-dark btn-block" [class.active]="category.id == selectedCategoryId"
                (click)="onChangeCategory(category.id)"> {{ category.name | uppercase }} </button>
      </div>
    </div>
    <div class="row col-10 p-2" *ngIf="products.length > 0">
      <div class="col-lg-6 col-xl-4" *ngFor="let product of products">
        <app-product-card [product]='product' (addToBucket)='onAddToBucket($event)'></app-product-card>
      </div>
      <div class="col-xl-12">
        <div class="form-inline float-left mr-1">
          <select class="form-control" [value]="productsPerPage"
                  (change)="onChangeProductsPerPage($event)">
            <option value="3">3 per Page</option>
            <option value="4">4 per Page</option>
            <option value="6">5 per Page</option>
            <option value="8">6 per Page</option>
          </select>
        </div>
        <div class="btn-group float-left">
          <button *appCounter = "let page of pageNumbers" (click)="onChangePage(page)"
                  class="btn btn-outline-primary"
                  [class.active]="page == selectedPage">
            {{page}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
